@using InfoWeb.Areas.GMD.Models
@model IEnumerable<GMDTalkShow>
@{
    ViewBag.Title = "光明顶";
}

<h2>光明顶</h2>
<div class="container">
    <ul class="list-group">
        @{
            foreach (GMDTalkShow ts in GMDTalkShowUtility.Instance.ShowList)
            {
                <li class="list-group-item list-group-item-success">
                    @ts.Title
                    <a href="@ts.Links[0].Url" target="_blank">Link1 </a>
                    <a href="@ts.Links[1].Url" target="_blank">Link2 </a>
                    <a href="@ts.Links[2].Url" target="_blank">Link3 </a>
                </li>
            }
        }
    </ul>
</div>
